{% extends 'aplicacion/index.html' %}
{% load static %}

{% block titulo %}            
Noticias/Posts
{% endblock titulo %}

{% block imagen_fondo %}
<header class="masthead" style="background-image: url('{% static "aplicacion/assets/img/bg-post.jpg" %}')">
{% endblock imagen_fondo %}

{% block subtitulo %}            
{% endblock subtitulo %}

{% block contenido %}

<div class="d-flex justify-content-center mb-4">
    <a class="btn btn-primary text-uppercase" href="{% url 'create_post' %}">Crear una nueva Publicación →</a>
</div>
<div class="d-flex justify-content-center mb-4"> 
    <a class="btn btn-primary text-uppercase" href="{% url 'busqueda_post' %}">Buscar una Publicación →</a>
</div>

<br>
<br>

<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for p in post_list %}
    <tr>
        <td>{{ p.titulo }}</td>
        <td>{{ p.autor }}</td>
        <td>{{ p.fecha_public }}</td>
        <td>
            <a
            href="{% url 'detail_post' p.id %}"
            class="btn btn-info"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa fa-search fa-sm" title="View Record"></i>
            </a>
            <a
              href="{% url 'update_post' p.id %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
              href="{% url 'delete_post' p.id %}"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
          </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br>
    <div>
        <hr class="my-4" />
    </div>
<br>
{% endblock contenido %}